*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#root{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    margin: 0;
    background-color: #131417;
    font-size: 14px;
    position: relative;
}

